<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Real Time Chat App With Vue.js + Socket.io</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.socket.io/socket.io-1.4.4.js"></script>
  <script src="vue.js"></script>
</head>
<body>
  <div id="root">
    <div class="text-center title">
      <h1>Real Time Chat App</h1>
      <p>With Vue.js + Socket.io</p>
    </div>
    <div class="chat-wrapper">
      <ul class="list-chat">
        <li v-for="list in msgList">{{list.msg}}</li>
      </ul>
    </div>
    <form id="msg-form" @submit.prevent="">
      <textarea id="msg-box" @click.ctrl.enter="kirim" v-model="msg"></textarea>
      <button class="btn btn-primary" @click="kirim">Kirim</button>
    </form>
  </div>
  <script>
    var socket = io('localhost')
    new Vue({
      el:'#root',
      data:{
        msg:null,
        msgList:[]
      },
      methods:{
        kirim:function(){
          socket.emit('addMsg', {msg:this.msg})
          this.msg=null
        }
      },
      mounted:function(){
        var vm = this
        socket.on('addMsg', function (data) {
          vm.msgList.push(data)
        })
      }
    })
  </script>
</body>
</html>