*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit
}
body{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center
}
.text-center{
  text-align: center
}
.title h1{
  
}